body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2px;
  height: 100%;
}

html {
  height: 100vh;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
/* from https://stackoverflow.com/a/31278615 - makes the scrollbar visible always so users can tell what's scrollable */

li {
  list-style: none;
  width: 100%;
  padding: 5px;
}

.post {
  padding-top: 10px;
  width: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
}

p {
  margin-block: 5px;
}

ul {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  overflow-y: scroll;
  padding: 0px;
  padding-block: 5px;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  width: 100%;
}

a {
  color: #00b7ff;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 15px;
}
/* center column on the page */

.post-text {
  width: 300px;
  height: 100px;
}
/* the input text for a new post */

h1 {
  padding-bottom: 5px;
  width: 100%;
  border-bottom: 2px solid gray;
  margin-bottom: 0px;
}
/* LeBook up at top left of page */

.welcome {
  margin: 0px;
  text-align: center;
}
/* the bit that says "welcome to LeBook" */

.post-list {
  border-block: 3px solid black;
  max-height: 45vh;
  width: 95%;
  padding: 5px;
  margin: 5px;
  margin-top: 0px;
  gap: 50px;
}

.post-list.guest {
  max-height: 70vh;
}
/* we  change the maximum height if a guest is logged in - not having the option to post leaves more room on their page */

.comment-list {
  max-height: 150px;
  width: 87%;
  gap: 30px;
}

.no-comment,
.comment-list {
  padding-left: 25px;
  margin-left: 40px;
  border-left: 1px solid black;
}
/* we want the side border to look the same whether we are listing comments or saying "be the first to add a comment" */

.no-comment {
  margin-block: 0px;
  padding-block: 5px;
}
/* styling for "be the first to add a comment"  */

.comments-starter {
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  gap: 25px;
}
/* this is directly above the comments, and displays the like button */

.add-comment {
  border-top: 1px solid black;
  display: flex;
  gap: 5px;
  align-items: center;
  margin: 0px;
  padding: 5px;
}
/* below the comments, where a user can add a new comment */

.comments-starter,
.add-comment {
  width: 95%;
  flex-direction: row;
  padding: 5px;
}
/* the comments are sandwiched between these two, so we want their borders to line up perfectly so the comments look nice */

.content {
  border-radius: 25px;
  background-color: #54bde7;
  padding: 20px;
  width: 60%;
  overflow-wrap: break-word;
  display: flex;
}
/* text content of either a post or a comment */

.post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-height: 125px;
}
/* form to create posts */

.timeline {
  margin-bottom: 5px;
  padding-bottom: 0px;
}
/* the bit that says 'timeline' above all the posts */

.comment-header {
  margin: 0px;
}
/* bit that says "comments" above the comments... this keeps it in line with the like button */

button {
  margin: 5px;
  border-radius: 5px;
  border-style: solid;
}

.links {
  font-size: medium;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 15px;
  height: 100vh;
  border-right: 2px solid gray;
}
/* links off to the side of the page */

.postuser {
  font-size: large;
  padding-block: 5px;
}

.comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-list {
  margin: 0px;
}

.list-title {
  margin: 5px;
}
/* title to a list of users,  like friend or friend requests */

.sign-in,
.create-new-user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* the two pages that are just form input */

.friend-request {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
}
/* display for a friend request including a name and a button */

.listuserlink {
  width: 125px;
}
/* controls the width of usernames in lists - this way they don't split to two lines super easily */

.home {
  grid-column-start: 2;
  grid-column-end: 4;
}
/* makes the main content span two columns */

.comment-text {
  height: 15px;
}
/* the text input for a new comment */

.error {
  color: red;
  font-weight: 700;
}
/* paragraph announcing a log in or create user error */
